:root {
    --color-body: #FFFFFF; 
    --color-background: #1E1E1E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    line-height: 28px;
    font-size: 18px;
    color: var(--color-body);
    background: var(--color-background);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-body);
}

.container {
    padding: 0 120px;
    max-width: 1400px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    text-transform: uppercase;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.nav__logo {
    font-weight: 700;
    font-size: 24px;
    margin-right: 150px;
}

.nav__contacts img {
    margin: 0 2px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 136px;
    position: relative;
}

.hero__subheader {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    background-color: #91FAA8;
    cursor:pointer;
}

.hero__header {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    margin-top: 32px;
}

.screw {
    position: absolute;
    top: 143px;
    left: 540px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.hero__descr {
    margin-top: 40px;
}

.hero__button__wrapper {
    display: flex;
    gap: 12px;
}

.btn {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    margin-top: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:  #231B1B;
    text-transform: uppercase;

}

.btn-transparent {
    border: 1px solid #FFFFFF;
    color: var(--color-body);
    background: transparent;
}