:root {
    --color-body: #FFFFFF; 
    --color-background: #1E1E1E;
    --color-accent: #FA91C3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Typography */

body {
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-body);
    background: var(--color-background);
    min-height: 100vh;
}

h1 {
    font-size: 55px;
    line-height: 75px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

@media (max-width: 1200px) {

    h1 {
        font-size: 48px;
        line-height: 65px;
    }

}

@media (max-width: 992px) {

    h1 {
        font-size: 36px;
        line-height: 48px;
    }

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-body);
}

img {
    width: 100%;
    height: auto;
}

/* Layout */


.container {
    max-width: 1400px;
    margin-inline: auto;
    padding: 0 120px;
    width: 100%;
    
}

@media (max-width: 1200px) {

  .container {
  padding: 0 60px;
  }
      
}
@media (max-width: 992px) {

    .container {
    padding: 0 24px;
    }
        
}

/* Navbar section */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    text-transform: uppercase;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    transition: color .4s;
}

.nav__logo {
    font-weight: 700;
    font-size: 24px;
    margin-right: 100px;
    cursor: pointer;
}

.nav__logo:hover {
  transition: all 300ms ease;
}

.nav__contacts img {
    width: 30px;
    cursor: pointer;
}

.navbar__item a:hover {
    color: var(--color-accent);
    transition: all 300ms ease;
  
  }

.navbar__item.active a {
    color: var(--color-accent);
    
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  background-color: var(--color-body);
}


/* Hero section */

.hero {
    margin-top: 137px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 5%;
}

.hero__subheader {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    background-color: #91FAA8;
    cursor:pointer;
    color:var(--color-background);
    transition: all 300ms ease;
}

.hero__header {
    margin-top: 32px;
}

.hero__wrapper {
    position: relative;
}

.screw {
    position: absolute;
    top: -20px;
    left: 220px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
    width: 32px;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.descr-hero {
    margin-top: 40px;
}

.hero__button__wrapper{
    display: inline-flex;
    gap: 12px;
    margin-top: 40px;
    
}

.btn {
    background: var(--color-body);
    border-radius: 10px;
    padding: 8px 17px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color:  #231B1B;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.btn:hover {
  background:var(--color-accent);
    transform: translateY(1px);

}

.link__about {
    color: var(--color-body);
    background: transparent;
    cursor: pointer;
}

.link__about img {
    width: 24px;
    transition: transform .3s;
}

.link__about:hover {
    color:var(--color-accent);
    transform: translateY(1px);
    background: transparent;
}


.btn.link__about:hover img {
    transform: translateY(-5px);
  }

  @media (max-width: 1200px) {

    .btn {
        font-size: 14px;
    }
  
  }
  
  @media (max-width: 992px) {
    .hero {
      grid-template-columns: 1fr;
      margin-top: 24px;
    }
  
    .hero__wrapper:nth-of-type(1) {
        order: 2;
    }
  
    .hamburger{
        display: block;  
    }
  
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        width: 25px;
        height: 3px;
    }
  
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .navbar__list {
        position: fixed;
        left: 100%;
        top: 90px;
        flex-direction: column;
        background: var(--color-background);
        text-align: center;
        transition: .3s;
        width: 100vw;
        padding-bottom: 45px;
        z-index: 2;
    }
  
    .navbar__list.active {
        left: 0;
    }
  
    .nav__logo {
        display: none;
    }
  
  }

/* Skills section */

  .icon__box img {
    min-width: 44px;
    padding: 10px;
  }
  
  .icon__box {
    width: 76px;
  }

  .skills__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 64px;
    gap: 90px;
  }

  .container__mini {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 24px; 
    padding: 64px;
  }

  .icons__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .skills {
    margin-top: 96px;
  }

  .html__img {
    background: rgba(227, 79, 38, 0.27);
    border-radius: 10px 10px 0px 10px;
  }

  .css__img {
    background: rgba(27, 115, 186, 0.22);
    border-radius: 0px 20px 20px 20px;
  }

  .javascript__img {
    background: rgba(240, 219, 79, 0.08);
    border-radius: 10px 0px 10px 10px;
  }

  .react__img {
    background: rgba(97, 218, 251, 0.1);
    border-radius: 100px;
  }

  .sass__img {
    background: rgba(196, 96, 146, 0.26);
    border-radius: 20px;
  }

  .bootstrap__img {
    background: rgba(121, 82, 179, 0.22);
    border-radius: 10px 10px 10px 0px;
  }

  .thailwind__img {
    background: rgba(24, 186, 185, 0.13);
    border-radius: 100px;
  }

  .git__img {
    background: rgba(222, 76, 54, 0.14);
    border-radius: 100px;
  }

  .github__img {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px 20px 0px 20px;
  }

  .npm__img {
    background: rgba(203, 55, 58, 0.16);
    border-radius: 0px 20px;
  }

  .google__img {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
  }
  
  .browser__img {
    background: rgba(146, 255, 248, 0.16);
    border-radius: 1000px;
  }

  .api__img {
    background: rgba(30, 30, 30, 0.21);
    border-radius: 0px 10px 10px 10px;
  }

  .responsive__img {
    background: rgba(255, 53, 198, 0.12);
    border-radius: 20px 20px 0px 20px;
  }

  .descr {
    margin-top: 16px;
  }

  .title {
    margin-top: 16px;
  }

  @media (max-width: 992px) {

    .skills__wrapper {
        flex-direction: column-reverse;
        padding: 24px;
    }


  }

  /* Projects section */

  .projects {
    margin-top: 96px;
  }

  .tools {
    margin-top: 16px;
  }

  .tools span {
    font-weight: 700;
  }

  .learn__more {
    cursor: pointer;
    margin-top: 50px;
    display: inline-block;
    font-weight: 700;
  }

  .learn__more img {
    width: 24px;
    transform: translateY(6px);
    transition: transform .3s;
  }

  .learn__more:hover {
    color: var(--color-accent);
    transition: all 300ms ease;
  }

  .learn__more:hover img {
    transform: translate(5px, 6px);
  }

  .projects__link__wrapper {
    margin-top: 40px;
  }

  .github__link {
    color: var(--color-body);
    background: transparent;
    cursor: pointer;
    border: solid 1px var(--color-body);
    margin-left: 8px;
}

.github__link:hover {
  color:var(--color-accent);
    transform: translateY(1px);
    background: transparent;
}

.project__wrapper {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: space-between;
  align-items:flex-start;
}

.website__link {
  display: inline-block;
}

@media (max-width: 1200px) {
  .project__wrapper {
    gap: 45px;
  }
}


@media (max-width: 992px) {
  .project__wrapper {
    flex-direction: column;
  }

  .projects__link__wrapper {
    margin-top: 20px;
  }

  .learn__more {
    margin-top: 35px;
  }
  
}



/* Contact section */

.contact {
  margin-top: 96px;
  text-align: center;
  perspective: 800px;
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 24px;
  margin: 40px auto 0 auto;
  width: 100%;
  max-width: 588px;
  font-size: 16px;
  font-weight: 700;
}


.input__wrapper-long {
    grid-column: 1 / 3;   
} 

.input__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input__field {
  min-width: 282px;
  height: 48px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: none;
  padding: 0 10px ;
}

.input__field-long {
  width: 588px;
  height: 144px;
}

input, select, textarea{
  color: var(--color-body);
}

textarea:focus, input:focus {
  color: var(--color-body);
}

#message  {
  padding: 10px;
  font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

.btn-submit {
  max-width: 89px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
  0 2px 10px 0 rgba(0,0,0,0.07);
  transition: all 300ms ease;
  transform: translateX(255px);
}

.btn-submit:hover {
  transform: translate(255px, 1px);
}

.title-contact {
  animation: headingAnimation 5s ease-in-out infinite;
  color: var(--color-accent);
}

@keyframes headingAnimation {
  0% {
    transform: scale(1) rotate(-5deg);
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(-5deg);
  }
}



/* Footer */


.footer {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 24px 24px 0px 0px;
  height: 46px;
  margin-top: 96px;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  color: #D1D1D1;

}

@media (max-width: 990px) {

  .contact__form {
    grid-template-columns: 1fr;
    margin-top: 24px;
  }

  .input__wrapper-long {
      grid-column: 1 / 1;
  }
 
  .input__field {
    width: 100%;
  }

  .btn-submit {
    margin: 0 auto;
    transform: translate(0);
  }

  .btn-submit:hover {
    transform: translate(0, 1px);
  }
}



/* About page */

.about {
margin-top: 64px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 64px;
}

.about__me:first-child {
  width: 70%;
}

.about__contact {
  margin-top: 40px;
}

.about__subtitle {
  font-weight: 700;
}

.about__subtitle-me {
  margin-top: 40px;
}

.about__descr {
  margin-top: 16px;
}

.experience__wrapper {
  margin-top: 40px;
  margin-left: 26px;
}

.btn__cv {
  margin-top: 40px;
  margin-left: 26px;

}

.experience__container {
  position: relative;
}

.divider {
  display: block;
  width: 2px;
  height: 100%;
  border-radius: 100px;
  background-color: var(--color-body);
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 992px) {
  .about__wrapper {
    flex-direction: column;
    margin-top: 24px;
  }

  .about__me:first-child {
    width: 100%;
  }

  .btn__cv {
    margin-left: 24px;
  }

  .footer {
    font-size: 14px;
  }
}


/* Case's section */

.case {
  margin-top: 96px;
}

.case__wrapper {
  margin-top: 64px;
}

 .go__back img {
  transform: translateY(-2px);
  vertical-align: middle;
  transition: transform .3s;
  margin-right: 8px;
}

.go__back:hover img {
  transform: translate(-10px, -2px);
}



